.form-container {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(5px);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.project-form {
  max-width: fit-content;
  padding: 2rem;
  position: absolute;
  top: 50%;
  right: 50%;
  background-color: $project-background-color;
  transform: translate(50%, -50%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  border-radius: 2px;
  &__label,
  &__input,
  &__textarea {
    font-size: 1.8rem;
    display: block;
    field-sizing: content;
    color: $background-color;
    &--priority {
      font-size: 1.6rem;
      color: $background-color;
      margin-bottom: 0.5rem;
      margin-left: 0.5rem;
    }
  }

  &__label {
    margin-bottom: 0.75rem;
  }

  &__input {
    padding: 0.4rem 0.8rem;
  }

  &__textarea {
    padding: 0.6rem 1rem;
  }

  &::after {
    content: 'X';
    color: $project-title-color;
    font-size: 1.5rem;
    background-color: $background-color;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    padding: 0.6rem 0.8rem;
    border-radius: 4px;
  }
}

.btn {
  background: none;
  border: none;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0.8rem 1.2rem;
  background-color: $background-color;
  justify-self: self-start;
  cursor: pointer;
  color: $project-title-color;
  border-radius: 4px;
}
