.form-container {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(5px);

  transition: all 0.4s;
}

.form-container.show {
  visibility: hidden;
  opacity: 0;
}
.todo-form {
  max-width: fit-content;
  padding: 2rem;
  position: absolute;
  top: 50%;
  right: 50%;
  background-color: $project-background-color;
  transform: translate(50%, -50%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  border-radius: 2px;
  &__label,
  &__input,
  &__textarea {
    font-size: 1.8rem;
    display: block;
    field-sizing: content;
    color: $background-color;
    &--priority {
      font-size: 1.6rem;
      color: $background-color;
      margin-bottom: 0.5rem;
      margin-left: 0.5rem;
    }
  }

  &__label {
    margin-bottom: 0.75rem;
  }

  &__input {
    padding: 0.4rem 0.8rem;
  }

  &__textarea {
    padding: 0.6rem 1rem;
  }

  &__close {
    color: $project-title-color;
    font-size: 1.6rem;
    background-color: $background-color;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
    transition: all 0.3s;
  }

  &__close:hover {
    color: $background-color;
    background-color: $font-color;
  }
  &__close:active {
    scale: (0.95);
  }
}
