.icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: $background-color;
}

.icon-add {
  fill: $font-color;
  cursor: pointer;
}

.btn-add-todo .icon-add {
  fill: $project-title-color;
}

// Delete project icon
.icon-delete {
  margin-left: auto;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
