.aside {
  padding: 2.5rem 2rem 0 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.heading-primary {
  font-size: 2.6rem;
  color: $project-title-color;
}
.projects {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__default,
  &__user {
    width: 100%;
    text-align: left;
    border: none;
    background: none;
    color: $project-title-color;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    background-color: $project-background-color;
    padding: 0.8rem 1.4rem;
    border-radius: 2px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__default:focus,
  &__user:focus {
    outline: none;
  }

  &__default:hover,
  &__user:hover {
    background-color: $project-background-color-dark;
  }

  &__default:active,
  &__user:active {
    transform: scale(0.98);
    background-color: $project-background-color-darker;
  }

  &__user--input {
    background-color: none;
  }

  &__user {
    position: relative;
  }

  &__user:hover .icon-delete {
    visibility: visible;
    opacity: 1;
  }
}

.icon-delete {
  margin-left: auto;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.user-projects li:first-child {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: $project-title-color;
}

.add-project__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.8rem 1.4rem;
  border: 1px solid $project-background-color;
  transition: all 0.3s;
  border-radius: 2px;
}

.project-input {
  background-color: $background-color;
  width: 100%;
  border: none;
  font-size: 1.8rem;
  color: $project-title-color;
}

.project-input:focus {
  outline: none;
}

.add-project {
  border: 1px solid $layout-border-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects-priorities {
  margin-top: 4rem;
  list-style: none;

  &__priority {
    font-size: 1.8rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
  }

  &__priority:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__priority::before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: $medium-priority;
  }

  &__priority:first-child::before {
    background-color: $high-priority;
  }
  &__priority:last-child::before {
    background-color: $low-priority;
  }
}
