$background-color: #18181b;
$layout-border-color: #394041;
$project-background-color: #738284;
$project-background-color-dark: #5d6a6c;
$project-background-color-darker: #4c5658;
$font-color: #cdd3d4;
$project-title-color: #f7f8f8;
$high-priority: #cc241d;
$medium-priority: #d65d0e;
$low-priority: #d79921;
$todo-title-color: #f5f6f6;
$todo-border-color: #808f90;
$todo-background-color: #393e40;
